<%= flash_messages %>
<div class="panel panel-default">
  <div class="panel-body">
   		<div class="panel panel-info">
			<div class="panel-heading">Information</div>
			  	<div class="panel-body">
			    	<p>
						<strong>Title:</strong>
						<%= @article.title %>
					</p>
					<p>
						<strong>Text:</strong>
						<%= @article.text %>
					</p>
					<h4>Comments</h4>
					<%= render @article.comments %>	
			  </div>
		</div>

		<div class="panel panel-default">
	 		<div class="panel-heading">
	    		<h3 class="panel-title">Add Comments</h3>
	  		</div>
			<div class="panel-body">
				<%= render 'comments/form' %>
				 
				<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-warning" %> |
				<%= link_to 'Back', articles_path, class: "btn btn-default" %>

			</div>
		</div>


  </div>
</div>